@import "./reset";
.logo {
  height: 32px;
  background: white;
  margin: 16px;
  width: 165px;
}

.headerBox{
  box-shadow: 0 1px 3px rgba(255,255,255,.2);
}
.headerItem{
  float: left;
}
.userHeader{
  text-align: right;
  padding-right: 24px;
}
.userInfo{
  color: white;
  cursor: pointer;
  i{
    font-size: 14px;
    padding-right: 5px;
  }
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
  &:hover{
    color: #1890ff;
  }
}
